.logo {
  margin-left: 10px;
  min-width: 100px;
  min-height: 100px;
}

nav {
  box-shadow: 0 0 0;
}

body {
  background-color: white;
}

.picker__date-display {
  background-color: #6a1b9a;
}

.picker__close, .picker__today, .picker__clear, .picker__day--selected, .picker__day.picker__day--today {
  color: #6a1b9a;
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
  background-color: #6a1b9a;
}

.carousel {
  height: 700px;
}

.carousel-item {
  width: 480px !important;
  height: 700px !important;
}
